@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
@import "hsbc";
    

.application-label {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0px;
}

.gray-font-color {
    color: #333;
}

#footer {
     .footer-main{
        padding:30px 10px;
        background:#404040;
        color:#fff;
    }
    .footer-bottom{
        font-size: 14px;
        background:#000;
        color:#fff;
        padding: 20px;
        
        .link a {
            margin: 0 3px;
        }
    }
    .footer-large {
        .footer-large-item {
            list-style: none;
        }
        .footer-large-item:not(:last-child) {
            border-right: 1px;
            border-right-color: rgb(167, 167, 167);
            border-right-style: solid;
        }
        .footer-large-title {
            margin: 15px 0;
            i {
                float: left;
                margin-right:15px;
            }
            h3{
                line-height: 15px;
            }
        }
        .footer-section-title{
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

.height-200{
    height: 500px;
}
.register-form, .login-form {
    .remember-device, .col-form-label, .heading {
        color: #333;
        font-size: 16px;
        &.small{
            font-size: 13px;
        }
    }
    .link {
        color : #008580;
        font-weight: 600;
        letter-spacing: 0;
        text-decoration: underline;
        font-size: 12px;
        &.big {
            font-size: 18px;
        }
    }
    .show-hide-password{
        background: white;
        color: #008580;
        border-left: 0px;
    }
    
}

.custom-button {
    background-color: #db0011;
    border-color: #db0011;
    color : #fff;
    &.active {
        color : #fff !important;
        background-color : #83000a !important;
        border-color: #83000a !important;
    }
    &:focus, :active, :hover{
       color : #fff !important;
        background-color : #af000d !important;
        border-color: #af000d !important; 
    }
}


.custom-button:hover {
    color : #fff;
    background-color : #af000d;
    border-color: #af000d;
}

.custom-button-success {
    background-color: #008580;
    border-color: #01807b;
    color : #fff;
    &.active {
        color : #fff !important;
        background-color : #01807b !important;
        border-color: #01807b !important;
    }
    &:focus, :active, :hover{
        color : #fff !important;
        background-color : #01807b !important;
        border-color: #01807b !important; 
    }
}
.custom-button-success:hover {
    color : #fff;
    background-color : #01807b;
    border-color: #01807b;
}
.bottomnav  .navbar-nav>li{
    border-right: 1px solid #ededed;
    line-height: 2.5px;
}

.bottomnav {
    border-bottom:  1px solid #d7d8d6;
    background-color : rgba(255,255,255,0);
    box-shadow: 0px 1px 1px #d7d8d6;
    height: 60px;
}
.topnav .navbar-nav>li{
    border-right: 1px solid #404040;
    line-height: 1.5px;
}

.topnav{    
    background-color: black;
    height: 35px;
}

.navbar-nav>li:last-child{
    border: none;
}

.bottomnav  .navbar-nav{
    color:#333;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Helvetica";
}

.topnav  .navbar-nav{
    color: white;
    font-size: 0.78rem;
    font-weight: 400;
    font-family: "Helvetica";
}

.language-text{
    color: white !important;
    font-size: 0.78rem;
    font-weight: 400;
    font-family: "Helvetica";
    margin-right: 20px;
}

.btn-topnav{
    color: white !important;
    font-size: 0.78rem;
    font-weight: 400;
    font-family: "Helvetica";
    background-color: #db0011 !important;
    border: 0px;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
}
.custom-background-image {
    background : url('images/background-image.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width:960px){
    .custom-background-image {
        min-height: 500px;
        background-size: 1280px 100%;
    }
}

input[type="text"].form-control:focus,  select.form-control:focus{
    box-shadow: none;
    border : 1px solid #008580;
}

.journey-header-container {
    .journey-header-items{
        font-size: 0.8em;
        font-weight: bold;
    }
}

.helvetica {
    font-family: "Helvetica";
}

.label-input{
    margin-bottom: 2px;
}
.label-text, label{
    font-size: .80em;
    line-height: 150%;
}
.form-group{
    input, select {
        padding: 0 10px;
        vertical-align: middle;
        height: 28px;
        font-size: .80em;
    }
    .input-group-text {
        padding: 0 12px;
        height: 28px;
    }
}

.upload-demo {
    background-color: #e8e8e8;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
}

.welcome-page {
    .background-gray {
        background: #edebeb;
    }
}
.highlight {
    border:1px solid #db0011;
    background: #db0011;
    height: 20px;
    width: 8px;
    margin-right: 5px;
    display:inline-block;
}

.background-white-gray{
    background: white;
    opacity: 0.98;
}
.checkbox-format {
    margin-left: 20px;
    .form-check-label {
        font-size: 16px;
        color: #333;
    }
    input[type="checkbox"] {
        line-height: 16px;
        height: 16px;
    }
 }
.onboarding {
    .segment-heading{
        font-size: 0.8em;
        font-weight: bold;
    }
    hr {
        margin-block-end: 10px;
        margin-block-start: 5px;
    }
}
.model-link {
    color: #008580;
    cursor: pointer;
}
.modal-90w {
    min-width: 90%;
}
.dashboard {
    .header {
        background: #1d3154;
        color:white;
    }
    .content {
        .application-heading {
            font-size: 30px;
        }
        .sidebar {
            flex:0 0 17rem;
            background: #1d3154;
            color:#f5f3ed;
            .active {
                display: inline-block;
                height:7px;
                width: 7px;
                background: white;
                border-radius: 3.5px;
            }
            ul {
                list-style: none;
                li {
                    font-size: 0.9rem;
                }
            }
        }
        .main{
            background: #1d3154;
            position: relative;
            .main-box {
                border-radius: 10px 10px 0 0;
                background: #fcfbf7;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                right: 1px;
                overflow: auto;
            }
        }
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#main.full-height {
    height: 100%;
}
body.overflow-hidden {
    overflow: hidden;
}

.welcome-updated{
    .heading-page {
        //background : url('images/earth-blue.jpg');
    }
}